
<div class="annoying">
<h2>Your Tasks:</h1>

<h3><%= link_to "Add Task", "tasks/new" %></h3>
</div>
<div class=container>


<%@tasks.each do |task| %>
<div class = card>
<h3>To Do: <%= link_to "#{task.title}", "/tasks/#{task.id}"%>
<%= form_for task do |f| %>
<%= f.check_box :completed %>
<% end %>
<p></p>
<%= link_to "Delete", task_path(task),
  method: :delete,
  data: { confirm: "Are you sure?" } %>
 </div>
<% end %>


</div>
